/****VARIABLES****/

//COLOR
$black: black;
$bg-color: #f4f4f4;
$line-color: #c0c0c0;
$orange: #fe9b00;
$mail-color: #999898;
$dark-grey:  #5e5e5e;
$footer-bg: #e2e2e2;
$footer-lines:  #5d5d5d;


//FONT
$f-fam: Arial, Helvetica, sans-serif;
$f-size: 12px;