.container{
    width: 960px;
    margin: 0 auto;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: $bg-color;
    a{
    text-decoration: none;
    }
}

#slider{
    margin-top: 150px;

}


  
