#container{
    width: 960px;
    margin: 0 auto;
}

body{
    margin: 0;
    border-top: 17px solid #090909;
    font-family: Arial, Helvetica, sans-serif;
    background-color: $bg-color;
    a{
    text-decoration: none;
    }
}



  
